.tc-buttons-link {
    padding: 10px 36px;
    line-height: 1.3333333;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    color: #0081cb;
    background-color: #ffffff;
    border-color: #0081cb;
    border-width: 0;
    border-style: solid;
    cursor: pointer;
    font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    outline: none;
}
